{% extends "inventory/base.html" %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your Checkout List</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} x {{ item.product.name }}
                    <span>{{ item.status }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total Items: {{ cart.get_total_items }}</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Checkout Items"></p>
        {% csrf_token %}
    </form>
{% endblock %}